/*
 * style.css
 *
 * by Israel Bastida: Eter5 Lab.
 */


/**********************************
 * Development
 *********************************/

/* {
  border: 1px solid red !important;
}*/


/************************************
 * Portfolio
 ***********************************/

/*
 * Body
------------------------------------*/

body {
  font-family: 'Oxygen', sans-serif;
}

a,
button {
  min-width: 48px;
  min-height: 48px;
  padding: 1.5em;
}

/*
 * Header
---------------------------------*/

#my-logo {
  margin-top: 20px;
}

#my-name {
  font-family: 'Poiret One', cursive;
  font-size: 5.9em;
  font-weight: 400;
  color: #223;
  text-shadow: 1px 1px 2px #8cf;
  margin: 20px 0 0 0;
}

#my-title {
  margin: 0 auto;
  color: #556;
  font-size: 1.9em;
  padding-right: 0.1em;
  padding-bottom: 1em;
}

/*
 * Featured Work
------------------*/

#featured-work {
  color: #889;
  font-size: 2.5em;
  padding-left: 0.5em;
}

h3.text-uppercase {
  color: #556;
  font-size: 2.5em;
}
